.alltt {
    display: block;
    text-indent: 0;
    margin: 20px 0
    }
.alltt-l {
    display: block;
    text-indent: 0;
    margin: 1em 0 1em 2em
    }
.alltt-l1 {
    display: block;
    text-indent: 0;
    margin: 10px 0 10px 4.5em
    }
.bl-co {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -1.5em;
    margin: 1em 0 0 3em
    }
.bl-co1 {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 1em 0 0 2.2em
    }
.bl-sub {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -0.8em;
    margin: 2px 0 0 4.2em
    }
.bl-tni {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 1em 0 0 2.4em
    }
.blf {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -0.9em;
    margin: 1em 0 0 2.4em
    }
.blf-sub {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -0.8em;
    margin: 1em 0 0 4.2em
    }
.bll {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -0.9em;
    margin: 1em 0 1em 2.4em
    }
.bll-sub {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -0.8em;
    margin: 2px 0 1em 4.2em
    }
.body {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    hyphens: none;
    text-indent: 0;
    margin: 0
    }
.brk {
    display: block
    }
.calibre {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.125em;
    hyphens: none;
    line-height: 1.25;
    padding-left: 0;
    padding-right: 0;
    text-indent: 0;
    margin: 0 5pt
    }
.calibre1 {
    line-height: 1.2
    }
.calibre2 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre3 {
    font-size: 0.70588em
    }
.calibre4 {
    display: block
    }
.calibre5 {
    text-decoration: none
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    font-size: 0.70833em;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em;
    margin: 0
    }
.calibre9 {
    font-weight: bold
    }
.calibre10 {
    height: auto;
    width: auto
    }
.calibre11 {
    height: auto;
    width: 450px
    }
.calibre12 {
    display: table-row;
    vertical-align: middle
    }
.calibre13 {
    height: 550px;
    width: auto
    }
.calibre14 {
    display: block
    }
.calibre15 {
    font-size: 0.58333em;
    line-height: normal;
    vertical-align: 35%
    }
.calibre16 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre17 {
    font-size: 0.58333em;
    line-height: normal;
    vertical-align: -18%
    }
.calibre18 {
    height: auto;
    width: 150px
    }
.calibre19 {
    height: auto;
    width: 30px
    }
.calibre20 {
    height: auto;
    width: 500px
    }
.calibre21 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre22 {
    height: auto;
    width: 300px
    }
.calibre23 {
    height: auto;
    width: 350px
    }
.calibre24 {
    height: auto;
    width: 170px
    }
.calibre25 {
    height: auto;
    width: 270px
    }
.calibre26 {
    height: auto;
    width: 280px
    }
.calibre27 {
    height: auto;
    width: 110px
    }
.calibre28 {
    height: auto;
    width: 50px
    }
.calibre29 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre30 {
    height: auto;
    width: 200px
    }
.calibre31 {
    height: auto;
    width: 250px
    }
.calibre32 {
    height: auto;
    width: 370px
    }
.cap {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    page-break-before: avoid;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    margin: 6px 0 0
    }
.cbmh {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 15px 0 0
    }
.cct {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-indent: -1.9em;
    margin: 30px 0 0 1.9em
    }
.cen {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    margin: 1.2em 0
    }
.cfmh {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 40px 0 0
    }
.cfmh1 {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: -1.2em;
    margin: 0 0 0 2.4em
    }
.ch {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-indent: -1.7em;
    margin: 15px 0 0 1.7em
    }
.ch1 {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: -2.4em;
    margin: 0 0 0 4em
    }
.chapter-number {
    display: block;
    font-size: 1.77778em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 0
    }
.chapter-title {
    display: block;
    font-size: 1.77778em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 8px 0 100px
    }
.co {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1.2em 0
    }
.code {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    word-break: break-all;
    margin: 0 1em 0 3.5em
    }
.code-c {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    word-break: break-all;
    margin: 0 1.2em
    }
.code-ls {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    word-break: break-all;
    margin: 0 3.5em
    }
.code-new {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    word-break: break-all;
    margin: 0 1em
    }
.colorbox {
    background-color: #DCDCDE;
    padding-left: 2px;
    padding-right: 2px
    }
.cpt {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-indent: -6.2em;
    margin: 30px 0 0 6.2em
    }
.crt {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 0
    }
.crtf {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 1.2em 0 0
    }
.crtfb {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 1.2em 0
    }
.crth {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: -1em;
    margin: 0 0 0 1em
    }
.ex {
    display: block;
    text-indent: 0;
    margin: 12px 0
    }
.ex-bl {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: -0.8em;
    margin: 10px 3em 0 4.8em
    }
.ex-bltni {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 10px 3em 0 4.8em
    }
.ex1 {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 5px 3em 0
    }
.exer {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em;
    margin: 8px 0 0
    }
.exf {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 0 3em
    }
.exf__ {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 0 3em 0.6em
    }
.ext__new {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 0 0 1em 2.4em
    }
.ext__new1 {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 0 0 0 2.4em
    }
.figure {
    display: block;
    text-indent: 0;
    margin: 0
    }
.fmh {
    display: block;
    font-size: 1.25926em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 0 0 60px
    }
.fmh1 {
    display: block;
    font-size: 1.77778em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
    margin: 0 0 100px
    }
.fmh2 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    page-break-after: avoid;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 25px 0 10px
    }
.fmh3 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    page-break-after: avoid;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 25px 0 2px
    }
.half {
    display: block;
    margin-bottom: 0;
    margin-top: 5px
    }
.head {
    break-after: avoid;
    display: block;
    font-size: 1.25926em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 25px 0 10px
    }
.head1 {
    break-after: avoid;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    page-break-after: avoid;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 22px 0 10px
    }
.head2 {
    break-after: avoid;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    page-break-after: avoid;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 22px 0 10px
    }
.head3 {
    break-after: avoid;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    page-break-after: avoid;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 15px 0 0
    }
.head4 {
    break-after: avoid;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    page-break-after: avoid;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    margin: 12px 0 20px
    }
.images {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.img {
    display: block;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
    margin: 25px 0
    }
.ind {
    display: block;
    text-indent: 0;
    margin: 0 1.2em 0 1.6em
    }
.ind-lower {
    display: block;
    text-indent: 0;
    margin: 0 1.2em 0 2.6em
    }
.inline {
    height: 8px;
    text-indent: 0;
    vertical-align: middle;
    width: auto
    }
.inline1 {
    height: 21px;
    text-indent: 0;
    vertical-align: middle;
    width: auto
    }
.ixa {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: -1em;
    margin: 1.2em 0 0 1em
    }
.l {
    display: block;
    margin-top: 50px
    }
.marginpar {
    display: block;
    font-size: 0.66667em;
    font-style: italic;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    margin: 1.5em 0;
    padding: 0.7em 1.2em
    }
.marginpar__ita-norm {
    display: block;
    font-size: 0.66667em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    margin: 1.5em 0;
    padding: 0.7em 1.2em
    }
.mono {
    font-family: monospace
    }
.monospace-italic {
    font-family: monospace;
    font-style: italic
    }
.monospace-margin {
    font-family: monospace;
    font-style: normal;
    font-weight: normal
    }
.monospace-margin1 {
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.monospace-noitalic {
    font-family: monospace;
    font-style: normal
    }
.myenumitem-lower {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 5px 0 0 4.9em
    }
.myitemizeitem {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 5px 0 0 2.5em
    }
.myitemizeitem-bot {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 5px 0 1em 2.5em
    }
.nl-lower {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -1.4em;
    margin: 5px 0 0 4.9em
    }
.nlf {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -1em;
    margin: 1em 0 0 2.4em
    }
.nlf-lower {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -1.4em;
    margin: 1em 0 0 4.9em
    }
.nll {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -1em;
    margin: 1em 0 1em 2.4em
    }
.nll-lower {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: -1.4em;
    margin: 5px 0 1em 4.9em
    }
.nltni {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 5px 0 0 2.4em
    }
.no-italic {
    font-style: normal;
    font-weight: normal
    }
.noindent {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 0 0 1em
    }
.pn {
    display: block;
    font-size: 1.77778em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
    margin: 0 0 120px
    }
.rule {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    border-top: #000 solid 1px;
    padding: 0
    }
.serif-nor {
    font-style: normal
    }
.small {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.sp {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em;
    margin: 0 0 100px
    }
.sp-brk {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em;
    margin: 0 0 50px
    }
.sp1 {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em;
    margin: 0 0 50px
    }
.stni {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 1em 0 0
    }
.stx {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.5em;
    margin: 1em 0 0
    }
.table-small {
    display: block;
    page-break-inside: avoid;
    text-align: center;
    margin: 12px 0 12px 3em
    }
.tb {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 2px 10px 0 0
    }
.tch {
    display: table-cell;
    text-align: inherit;
    vertical-align: bottom;
    border-bottom: #000 solid 1px;
    padding: 6px 10px 0 0
    }
.tch1 {
    display: table-cell;
    text-align: inherit;
    vertical-align: bottom;
    padding: 6px 10px 0 0
    }
.tni {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 0
    }
.toc-fig {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 5px 0 0
    }
.tpau {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 160px 0 0
    }
.tpp {
    display: block;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 180px 0 0
    }
.tpst {
    display: block;
    font-size: 1.25926em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 6px 0 0
    }
.tpt {
    display: block;
    font-size: 1.77778em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 60px 0 0
    }
.verbatim {
    display: block;
    text-indent: 0;
    margin: 1em 0
    }
